[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
	shallow = true
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
[submodule "ext/soil"]
	path = ext/soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git
	shallow = true
[submodule "ext/openal"]
	path = ext/openal
	url = https://github.com/kcat/openal-soft.git
	shallow = true
[submodule "ext/audiofile"]
	path = ext/audiofile
	url = https://github.com/Zalez95/AudioFile.git
	shallow = true
[submodule "ext/nlohmann-json"]
	path = ext/nlohmann-json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://github.com/google/googletest.git
	shallow = true
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
	shallow = true
